main {
	text-align: center;
}
.logo {
	margin: 0 auto;
	display: block;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.input_long {
	width: 160px;
}
.input_short {
	width: 70px;
}
h1 {
	display: flex;
	justify-content: center;
	font-weight: normal;
	font-size: 24px;
	border: 1px solid black;
	max-width: 400px;
	margin: auto;
	margin-bottom: 1%;
	padding: 1%;
}

p {
	margin: 0;
	font-size: 20px;
}

h2 {
	display: flex;
	justify-content: left;
	font-weight: bold;
	font-size: 14px;
	margin: auto;
	margin-bottom: 1%;
	padding: 1%;
}

.frame {
	width: 330px;
	height: 30rem;
	border: 1px solid black;
	padding: 2%;
}
.form-container {
	margin: 15px 0px 0px 2px;
}
input {
	margin-right: 6px;
}
.input_right {
	margin-right: 10px;
}
li {
	margin-left: -20px;
	margin-block-end: 14px;
}
button.float {
	float: right;
	margin-right: 10px;
}
.space {
	margin-top: 220px;
}
output {
	font-weight: bold;
	background-color:#f4f0f5; 
	padding:4px 35px 3px 35px;
	margin:15px;
	border-radius:10px;
}
.error {
	margin-bottom: 2rem;
	color: red;
	font-size: 0.6rem;
}
.hide {
	visibility: hidden;
}
div.frame {
	position: relative;
}
div.float-bottom {
	position: absolute;
	bottom: 10px;
}

.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;  
  z-index: 1;  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); 
}

.edit-form {
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 50px;
}

.hidden {
  display: none;
}